<!DOCTYPE html>
<html>
  <head>
    <title>Monster Stuff</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dnd Monster Index Page</h1>
    <ul>
        <li>
          <a href="/monsters/">All Monsters</a>
        </li>
        <li>
          <a href="/monsters/Acid Ant/">Acid Ant</a>
        </li>
        <form method="POST">
          <label for="zip">zip:</label>
  
          <input type="text" name="zip" value="97303" />
  
          <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <h2>List of Monsters</h2>
        <p><%- distance %></p>
    </ul>
  </body>
</html>
