<!DOCTYPE html>
<html>
  <head>
    <title>Monster List Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <h1>Monsters Page</h1>
  <ul>
      <li>
      <a href="/">Index Page</a>
      </li>
      <h2>List of Monsters</h2>
      <p><%- distance %></p>
  </ul>
</html>